{% extends "layout.html.twig" %}
{%block javascript%}
<script type="text/javascript" src="/js/jquery.maskMoney.js"></script>
<script type="text/javascript" src="/js/products.js"></script>
{%endblock%}
{% block title %}Listado de productos{% endblock %}
{% block content %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#home" class="home">Productos</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#home" class="home">Listado <span class="sr-only">(current)</span></a></li>
        <li><a href="#append" class="append">Añadir</a></li>    
      </ul>      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="col-md-8" id="listado"><!-- listado -->
	<div class="list-group">
	<script type="text/template" id="product-list-tpl">
		
		<table class="table table-bordered">
			<tr>
				<th>Descripción</th>
				<th>Coste</th>
			</tr>
		    <% _.each(products, function(product) { %>
		    <tr>		      
		      <td><%= product.get('id') %></td>
		      <td><%= product.get('descripcion') %></td>
		      <td><%= product.get('coste_en_euro') %> &euro;</td>
		      <td><%= product.get('created_at') %></td>      
		    </tr>  
		    <% }); %>
	    </table>	    
	</script>
	
	</div>
</div><!-- /.listado-->
<div class="col-md-4" id="append">
	<form role="form" name="append" id="productappend" novalidate>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Descripción:</label>
	    <textarea class="form-control" id="descripcion" placeholder="Añade la descripción" name="descripcion"
	    data-placement="top" data-trigger="manual" data-content="Introduce tu descripción"></textarea>
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Coste</label>
	    <div class="input-group">
	    	<span class="input-group-addon">&euro;</span>
	    	<input type="text" class="form-control" id="coste" name="coste" placeholder="Coste"
	    	data-placement="top" data-trigger="manual" data-content="Introduce tu coste" />
	    </div>
	  </div>	  
	  <button type="submit" class="btn btn-default" data-loading-text="Guardando...">Añadir</button>
	  <p class="bg-danger hidden"  style="padding: 15px 15px 15px;margin-top:10px;">Error en el proceso ponte en contacto con el <a href="mailto:webmaster@demo.es">webmaster</a></p>
		<p class="bg-success hidden"  style="padding: 15px 15px 15px;margin-top:10px;">Enhorabuena tu nuevo producto esta en el listado.</p>
	</form>

	
</div>
{%endblock%}