{% extends "layout.html.twig" %}
{%block javascript%}
<script type="text/javascript" src="/js/cutdown.js"></script>
<script type="text/javascript" src="/js/pomodoro.js"></script>
<script>
	var _tasks = {{ tasks|json_encode()|raw }}
</script>
{%endblock%}
{% block title %}Listado de tasks{% endblock %}
{% block content %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#home" class="home">Pomodoro</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="mainMenuCtrl">
          
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="col-md-8" id="listado" ng-controller="listadoCtrl"><!-- listado -->
	<form novalidate method="post" action="/save" name="newtask"   ng-submit="saveTask($event, task);">
		<input type="text" name="name" class="form-control" id="name" 
		 ng-class="{'error': newtask.description.$invalid && newtask.description.$dirty}"
		ng-model="task.name" placeholder="Nombre del Task" ng-minlength="3">
	</form>
	<div class="tasks col-md-8">
	<ul class="tasks list-group">
          <li class="list-group-item" ng-class="task.clase" ng-repeat="task in $parent.tasks" class="thumbnail">            
            <span taskid="{%verbatim%}{{task.id}}{%endverbatim%}" 
            ng-class="{'badge': task.timer, 'glyphicon glyphicon-play pointer icon': task.play , 'glyphicon glyphicon-pause icon': task.pause, 'glyphicon glyphicon glyphicon-ok icon': task.finish}"
            id="{%verbatim%}{{$index}}{%endverbatim%}" ng-class="{%verbatim%}{{task.button}}{%endverbatim%}"
            	taskplay="{%verbatim%}{{task.doplay}}{%endverbatim%}" ng-click="startTask($event);" ats-pomodoro
             ></span>{%verbatim%}{{task.name}}{%endverbatim%}
          </li>
        </ul>
	
	</div>
</div><!-- /.listado-->

<!-- modal new -->

<!-- Modal -->
<div class="modal fade" id="formCreate" tabindex="-1" ng-controller="taskNewCtrl" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nuevo Task</h4>
      </div>
      <div class="modal-body">
        <form novalidate method="post" action="/save" name="newtask" ng-submit="saveTask($event, task);">
		  <div class="form-group" ng-class="{'has-error': newtask.name.$invalid && newtask.name.$touched}">
		    <label for="name">Nombre</label>
		    <input type="text" name="name" class="form-control" id="name" ng-model="task.name" placeholder="Nombre del Task" ng-minlength="3">
		    <p class="text-danger" ng-show="newtask.name.$invalid && newtask.name.$touched" ng-cloak>Introduce el nombre</p>
		  </div>
		  
		  <div class="form-group" ng-class="{'has-error': newtask.description.$invalid && newtask.description.$touched}">
		    <label for="description">Descripción</label>
		    <textarea class="form-control" name="description" id="description" ng-model="task.description" rows="3" ng-minlength="8"></textarea>
		    <p class="text-danger" ng-show="newtask.description.$invalid && newtask.description.$touched" ng-cloak>Introduce la descripción</p>
		  </div>
		  
		  
		  <button type="submit" class="btn btn-default">Guardar</button>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
      </div>
    </div>
  </div>
</div>
<!-- //modal . new -->
{%endblock%}