<!DOCTYPE html>
<html lang="es"  ng-app="pomodoroApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="all" />
        <link rel="stylesheet" href="/css/site.css" type="text/css" media="all" />
        {%block style%}{%endblock%}
        {%block specific_style%}{%endblock%}
        <title>{% block title %}Demo Bundle{% endblock %}</title>
        <script type="text/javascript" src="/js/jquery-2.1.1.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <script type="text/javascript" src="/js/angular.js"></script>
        
        {%block javascript%}{%endblock%}
        {%block specific_js%}{%endblock%}

    </head>
    <body ng-controller="siteCtrl">
        
        <div id="main_menu">
            {% block main_menu %}
            {% endblock%}
        </div>


        <div id="CONT">
            {% block content_menu %}
            {% endblock %}
            {% block content %}
            {% endblock %}
            {% block stats %}
            {% endblock %}
        </div>
        {%block appendFriends%}{% endblock%}
        {% block preloader %} {% endblock %}
    </body>
</html>
